<% provide(:title, "My Music") %>

<div id="sidebar">
  <h4>The Sidebar Headline</h4>
</div>

<div id="content_main">
  <div class="content_greywrap">
    <div class="content_head">
      <h2>My Songs</h2>

          <div class="model_search">
            <%= form_tag songs_path, method: 'get' do %>
            <%= text_field_tag :search, params[:search] %>
          </div>
            <%= submit_tag "Search", class: "btn-small", name: nil %>
            <% end %>

      <%= will_paginate @songs %>
    </div>
    
    <div class="content_body">
      <% if @songs.size == 0 %>
        <div class="nothing_found">
          Sorry. Nothing found.
        </div>
      <% else %>

      <div id="songcount">
        Showing <%= @songs.all.count %> matches
      </div>

      <table class="piece">

        <% @songs.each do |song| %>
        <tr>
          <td class="content_left">
            <%= song[:title] %>
            <p class="meta"><%= song[:composer_name] %></p>
          </td>
          <td class="content_right">
            <%= song[:album_name] %>
            <p class="meta"><%= song[:genre_name] %></p>
          </td>
          <td class="tag_block">
            <div></div>
          </td>
        </tr>
        <% end %>
      </table>
    </div>

    <% end -%>

  </div>
</div>



