<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>

      <%= stylesheet_link_tag 'humanity/jquery-ui-1.8rc3.custom', :media => 'screen' %>

      <%= stylesheet_link_tag 'custom' %>

      <%= javascript_include_tag 'jquery-1.4.2.min' %>
      <%= javascript_include_tag 'jquery-ui-1.8rc3.custom.min' %>
      <%= javascript_include_tag 'jquery.livequery' %>
      <%= javascript_include_tag 'jquery.hoverIntent.minified' %>
      <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <div id="wrapper">
      <%= render 'layouts/header' %>


    <div id="content">
      <div class="container">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>

        <%= yield %>
      
      </div>
    </div>

      <%= render 'layouts/footer' %>

      <script type="text/javascript">
        <%= yield :javascript %>
      </script>
    </div>

    
  </body>
</html>